#Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  max-width: 900px;
  min-height: 100px;
  margin: 0 10px;
  padding: 16px;
  color: #333;
  background-color: rgba(230, 230, 230, 0.3);
  border-radius: 8px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
}

#Container .title {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.comment_input_form {
  display: flex;
  align-items: center;
}

.comment_input {
  width: 600px;
  height: 40px;
  font-size: 22px;
  padding: 0 10px;
}

.comment_button {
  width: 70px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 8px;
  background-color: rgb(8, 129, 163);
}

.comment_button:hover {
  cursor: pointer;
}

.comment_list {
  width: 100%;
  padding: 10px 20px;
}

.comment {
  margin: 6px 0;
  list-style: none;
}

.nickname {
  color: rgb(8, 129, 163);
  margin-right: 20px;
}
