.MainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #f4e7d3;
  padding: 65px 150px;
  position: relative;
}

.MainContainer_in {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c3b9a7;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgb(163, 162, 162);
}
.ImageContainer {
  max-height: 150px;
  padding: 0;
}
.MainContainer-img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 15px;
}

.MainContainer_comment {
  margin-top: 100px !important;
  text-align: center;
}
.MainContainer_comment p {
  font-size: 50px;
  line-height: 1.8;
  color: rgb(8, 129, 163);
}

.Main-comment {
  color: black !important;
  animation: scale1 0.7s infinite alternate;
}

button {
  width: 450px;
  height: 65px;
  margin: auto;
  border: 1px solid rgb(163, 162, 162);
  color: rgb(8, 129, 163);
  box-shadow: 3px 3px 3px rgb(163, 162, 162);
  transition-duration: 0.5s;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 20px;
}

button:hover {
  box-sizing: border-box;
  position: relative;
  width: 450px;
  height: 65px;
  cursor: pointer;
  color: white;
  background-color: rgb(8, 129, 163);
  border-radius: 20px;
}

button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
  border-radius: 20px;
}

@media screen and (max-width: 920px) {
  .Main-comment {
    font-size: 25px !important;
  }
  .MainContainer_button {
    height: 150px;
  }
  button {
    width: 250px;
  }
}

@media screen and (max-width: 750px) {
  .Main-comment {
    font-size: 25px !important;
  }
  .MainContainer_button {
    height: 150px;
  }
  button {
    width: 100px;
    font-size: 20px !important;
  }
}

@media screen and (max-width: 610px) {
  .MainContainer-img {
    width: auto;
    height: auto;
    max-width: 180px;
    max-height: 180px;
    margin-bottom: 15px;
  }
  .Main-comment {
    font-size: 25px !important;
  }
}

@media screen and (max-height: 880px) {
  .MainContainer-img {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 220px;
    margin-bottom: 15px;
  }
}

@keyframes scale1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
