.palette_color_picker {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.palette_color {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1) inset;
  transition: 0.25s;
}

.palette_color:hover {
  cursor: pointer;
}

.palette_color:focus {
  transform: scale(1.1);
}

.palette_color:nth-child(1) {
  background-color: black;
}

.palette_color:nth-child(2) {
  background-color: gray;
}

.palette_color:nth-child(3) {
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1) inset;
}

.palette_color:nth-child(4) {
  background-color: red;
}

.palette_color:nth-child(5) {
  background-color: violet;
}

.palette_color:nth-child(6) {
  background-color: orange;
}

.palette_color:nth-child(7) {
  background-color: yellow;
}

.palette_color:nth-child(8) {
  background-color: yellowgreen;
}

.palette_color:nth-child(9) {
  background-color: green;
}

.palette_color:nth-child(10) {
  background-color: royalblue;
}

.palette_color:nth-child(11) {
  background-color: blue;
}

.palette_color:nth-child(12) {
  background-color: tomato;
}
