#header {
  display: flex;
  padding: 10px 20px;
}

#header .title {
  font-size: 42px;
  color: rgb(8, 129, 163);
}

#header .answer_nav {
  display: flex;
  width: 300px;
  height: inherit;
  align-items: center;
}

#header .answer_form {
  margin: 0 30px;
  font-size: 32px;
  color: rgb(8, 129, 163);
  font-weight: 600;
}

#header .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
