#container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 40px;
  flex-direction: column;
  background-color: #f4e7d3;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  max-width: 1000px;
}

#canvas {
  height: 600px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

.canvas {
  border-radius: 8px;
}

#brush {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
}

.canvas-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.answer_input_form {
  display: flex;
  padding: 20px;
}

.input {
  width: 600px;
  height: 50px;
  margin-right: 20px;
  font-size: 32px;
  padding: 0 10px;
  border-radius: 8px;
}

.upload_button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  border: 1px solid rgb(163, 162, 162);
  color: rgb(8, 129, 163);
  box-shadow: 3px 3px 3px rgb(163, 162, 162);
  transition-duration: 0.5s;
}

.upload_button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(8, 129, 163);
}
