#header {
  display: flex;
  width: 100vw;
  max-width: 1000px;
  padding: 10px 20px;
  justify-content: space-evenly;
  align-items: center;
}

#header .title {
  font-size: 42px;
  color: rgb(8, 129, 163);
}

#header .title:hover,
#header .button:hover {
  cursor: pointer;
}
#header .answer_nav {
  display: flex;
  width: 500px;
  height: inherit;
  align-items: center;
}

#header .answer_form {
  margin: 0 20px;
  margin-left: 40px;
  font-size: 24px;
  color: rgb(8, 129, 163);
  font-weight: 600;
}

#header .answer_circle {
  width: 260px;
  display: flex;
}

#header .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 2px;
  background-color: gray;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}

#header .button {
  font-size: 28px;
  font-weight: 600;
  background-color: white;
  padding: 4px 10px;
  border: 1px solid rgb(163, 162, 162);
  border-radius: 10px;
  color: rgb(8, 129, 163);
  box-shadow: 3px 3px 3px rgb(163, 162, 162);
  transition-duration: 0.5s;
}

#header .button:hover {
  color: white;
  background-color: rgb(8, 129, 163);
}
