@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.SigninContainer {
  font-family: "GongGothicMedium";
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.SigninContainer_in {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c3b9a7;
  border-radius: 6px;
  background-color: #e2d6c3;
}

.Signin-form {
  font-family: "GongGothicMedium";
  width: 100%;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 129, 163);
  transition-duration: 0.5s;
  margin-bottom: 10px;
}
.Signin-form div {
  width: 30%;
  text-align: center;
}
.Signin-email,
.Signin-password {
  width: 70%;
  height: 35px;
  border-radius: 25px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid rgb(189, 189, 189);
  outline: none;
  transition: 0.5s;
  font-family: "GongGothicMedium";
}

.Signin-email:focus {
  box-shadow: 0 0 0 2px rgb(211, 149, 14);
  border: 1px solid rgba(189, 189, 189, 0);
}

.Signin-password:focus {
  box-shadow: 0 0 0 2px rgb(211, 149, 14);
  border: 1px solid rgba(189, 189, 189, 0);
}

.Signin-btn {
  font-family: "GongGothicMedium";
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
}

.Signin-btn:hover {
  width: 90%;
  height: 40px;
}

.Signin-btn:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  top: 2px;
}
